<link rel="stylesheet" type="text/css" href="/cms/asset/css/accountUser.css">
<script src="/cms/asset/js/accountUser.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<div class="wrapper fadeInDown">
    <div id="formContent">
            <div class="card">
                    <div class="card-header">
                      ข้อมูลบุลคล <a href="#" onclick="$.fn.EditAccount()"  data-toggle="modal" data-target="#editModal"><i class="material-icons editIcon" >create</i></a>
                    </div>
                    <div class="card-body">
                      <blockquote class="blockquote mb-0">
                        <cite  >Username : <span id="usernameprofile"></span></cite><br>
                        <cite  >Firstname : <span id="firstnameprofile"></span></cite><br>
                        <cite  >Lastname : <span id="lastnameprofile"></span></cite><br>
                        <cite >E-mail : <span id="emailprofile"></span></cite><br>
                        <footer class="blockquote-footer">ผู้ดูแลระบบ <cite title="Source Title">สถาบันสารสนเทศ ทรัพยากรน้ำเเละการเกษตร</cite></footer>
                      </blockquote>
                    </div>
                  </div>
                  <div class="card">
                        <div class="card-header">
                          บทบาท
                        </div>
                        <div class="card-body">
                          <blockquote class="blockquote mb-0">
                                <cite >Role : <span  id="roleprofile"></span></cite>
                            <footer class="blockquote-footer">สถานะ <cite title="Source Title">สำหรับผู้ดูแลระบบ</cite></footer>
                          </blockquote>
                        </div>
                      </div>
        
    </div>
</div>



<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-login">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <img src="asset/img/index.jpg" class="img-fluid" alt="Responsive image">
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div id="informationUserLogin">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-envelope"></i>
                            </span>
                            <input type="text" class="form-control" id="editemail" name="editemail" placeholder="E-mail" required="required">
                        </div>
                    </div>
                    <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-user"></i>
                                </span>
                                <input type="text" class="form-control" id="editusername" name="editusername" placeholder="Username" required="required" readonly>
                            </div>
                        </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-tag"></i>
                            </span>
                            <input type="text" class="form-control" id="editfirstname" name="editfirstname" placeholder="Firstname" required="required">
                        </div>
                    </div>
                    <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-tag"></i>
                                </span>
                                <input type="text" class="form-control" id="editlastname" name="editlastname" placeholder="Lastname" required="required">
                            </div>
                        </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-knight"></i>
                            </span>
                            <select id="editroleuser" class="form-control form-control-lg">
                                <option value="admin">Admin</option>
                                <option value="user">User</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" id="saveEditAccount" data-dismiss="modal" class="btn btn-primary btn-block btn-lg">SAVE</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">สถาบันสารสนเทศ ทรัพยากรน้ำเเละเกษตร</div>
        </div>
    </div>
</div>
