<html>

<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>
        .table-hover tbody tr:hover td,
        .table-hover tbody tr:hover th {
            background-color: yellow;
        }
    </style>

</head>

<body>



    <div class="container">
        <div class="row justify-content-md-center" style="padding-top: 15px;">
            <img src="../asset/img/index.jpg" class="img-fluid" alt="Responsive image">
        </div>
        <div class="row justify-content-md-center" style="padding-top: 25px;">
            <h1>HAll Online Post Processing System </h1>
        </div>
    </div>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Stage</th>
                <th scope="col">Create Date</th>
                <th scope="col">Write Date</th>
                <th scope="col">Working status </th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Done</td>
                <td>02/09/2018 17:54:51</td>
                <td>02/09/2018 17:54:51</td>
                <td>Not Working </td>
                <td><i class="material-icons" style="font-size:26px; color:green">play_circle_filled</i></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Done</td>
                <td>02/09/2018 17:54:51</td>
                <td>02/09/2018 17:54:51</td>
                <td>Working</td>
                <td><i class="material-icons" style="font-size:26px; color:red">pause_circle_filled</i></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                 <td>Done</td>
                <td>02/09/2018 17:54:51</td>
                <td>02/09/2018 17:54:51</td>
                <td>Working</td>
                <td><i class="material-icons" style="font-size:26px; color:red">pause_circle_filled</i></td>
            </tr>
        </tbody>
    </table>

</body>

</html>