<link rel="stylesheet" type="text/css" href="/cms/asset/css/manageUser.css">

<div class="wrapper fadeInDown">
    <div id="formContent">
        <center>
            <div class="fadeIn first">
                <div class="row justify-content-sm-center " >
                    <img src="asset/img/index.jpg" class="img-fluid" alt="Responsive image">
                </div>
            </div>
        
            <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>NO</th>
                                    <th>NAME</th>
                                    <th>EMAIL</th>
                                    <th>ROLE</th>
                                    <th>STATUS</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Doe</td>
                                    <td>john@example.com</td>
                                    <td>Admin</td>
                                    <td>Joined</td>
                                    <td><a href="#"><span class="glyphicon glyphicon-pencil"></span></td></a>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


            <div id="formFooter">
                <a class="underlineHover" href="#">สถาบันสารสนเทศ ทรัพยากรน้ำเเละการเกษตร</a>
            </div>
        </center>

    </div>
</div>
