<link rel="stylesheet" type="text/css" href="resource/templates/admin/asset/css/accountUser.css">
<div class="wrapper fadeInDown">
    <div id="formContent">
        <center>
            <div class="fadeIn first">
                <div class="row justify-content-sm-center " style="padding-top: 15px;">
                    <img src="asset/img/index.jpg" class="img-fluid" alt="Responsive image">
                </div>
            </div>
            <div class="form-group col-md-12 col-sm-12">
                <div class="row">
                    <div class="input-group col-md-4 col-sm-4 col-4">
                        <h6>FIRST NAME</h6>
                    </div>
                    <div class="input-group col-md-4 col-sm-4 col-4">
                        <input type="text" class="form-control" id="emailAdmin" placeholder="E-mail" required="required" value="admin01">
                    </div>
                </div>
            </div>
            <div class="form-group col-md-12 col-sm-12">
                <div class="row">
                    <div class="input-group col-md-4 col-sm-4 col-4">
                        <h6>LAST NAME</h6>
                    </div>
                    <div class="input-group col-md-4 col-sm-4 col-4">
                        <input type="text" class="form-control" id="emailAdmin" placeholder="E-mail" required="required" value="CMS">
                    </div>
                </div>
            </div>
            <div class="form-group col-md-12 col-sm-12">
                <div class="row">
                    <div class="input-group col-md-4 col-sm-4 col-4">
                        <h6>EMAIL</h6>
                    </div>
                    <div class="input-group col-md-4 col-sm-4 col-4">
                        <input type="text" class="form-control" id="emailAdmin" placeholder="E-mail" required="required" value="EMAIL012@gmail.com">
                    </div>
                </div>
            </div>


            <input type="button" class="fadeIn fourth" value="SAVE">



            <div id="formFooter">
                <a class="underlineHover" href="#">สถาบันสารสนเทศ ทรัพยากรน้ำเเละการเกษตร</a>
            </div>
        </center>

    </div>
</div>